root = true

[*]
end_of_line = lf
charset = utf-8

[*.{fs,fsx,fsi}]
max_line_length = 140
fsharp_max_if_then_short_width = 0
fsharp_max_if_then_else_short_width = 60
fsharp_max_infix_operator_expression = 100
fsharp_max_record_width = 60
fsharp_max_array_or_list_width = 60
fsharp_max_value_binding_width = 100
fsharp_max_function_binding_width = 100
fsharp_max_dot_get_expression_width = 100
fsharp_multi_line_lambda_closing_newline = true
fsharp_blank_lines_around_nested_multiline_expressions = false
fsharp_multiline_bracket_style = experimental_stroustrup
fsharp_keep_max_number_of_blank_lines = 2
fsharp_newline_before_multiline_computation_expression = false
fsharp_newline_between_type_definition_and_members = false
